/*$ sass --watch styles.scss styles.css*/
$breakpoint-xss: 320px;
$breakpoint-xs: 426px;
$breakpoint-sm: 769px;
$breakpoint-md: 1030px;
$breakpoint-lg: 1440px;

%standar-box {
  // border: 1px solid black;
  border-radius: 1em;
  box-shadow: 3px 6px 24px -5px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  color: black;
  background-color: #f9f3ec;
  width: 50vw;
  padding: 1em;
  background: white;
}

@mixin media($media) {
  @if $media==xss {
    @media (max-width: $breakpoint-xss) {
      @content;
    }
  } @else if $media==xs {
    @media (max-width: $breakpoint-xs) {
      @content;
    }
  } @else if $media==sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $media==md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $media==lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
}

* {
  font-family: roboto;
  padding: 0;
  margin: 0;
  color: #60204b;

  h1 {
    color: #ed3833;
  }
}

body {
  background-image: url("./assets/pexels-photo-1092364.jpeg");
  background-size: cover;
}

#button-return {
  border: 1px solid black;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7em;
  background: #63aabc;
  z-index: 1;
  @include media(sm) {
    right: 1em;
    bottom: 1em;
  }
  @include media(xss) {
    right: 2em;
    bottom: 2em;
    width: 3em;
    height: 3em;
  }
}

.collapsible-menu {
  background-color: #f9f3ec;
  padding: 0px 2em;
  border-bottom: 3px solid #ed3833;
  box-shadow: -23px -27px 35px -12px rgba(0, 0, 0, 0.75);
}

.collapsible-menu label {
  font-family: "Roboto", cursive;
  font-size: 5em;
  display: block;
  background: url("./assets/menu.png") no-repeat left center;
  padding: 1em 0 1em 2em;
  @include media(lg) {
    font-size: 3em;
  }
  @include media(sm) {
    font-size: 1.5em;
    padding: 2em 0 2em 4em;
  }
  @include media(sm) {
    display: flex;
    justify-content: center;
  }
}
input:checked + label {
  background-image: url("./assets/menu_close.png");
}
input#menu {
  display: none;
}
.menu-content {
  width: max-content;
  max-height: 0;
  overflow: hidden;
  font-family: "roboto", sans-serif;
  font-size: 3em;
  padding: 0 0 0 0;
  @include media(lg) {
    font-size: 2em;
  }
  @include media(sm) {
    font-size: 1em;
  }
  @include media(xs) {
    font-size: 0.85em;
    .list-group {
      display: flex;
      flex-direction: column;
      font-size: 1em;
      margin: 0;
      .list-group-item {
        width: max-content;
      }
    }
  }
  @include media(xss) {
    .list-group {
      display: flex;
      flex-direction: column;
      font-size: 1em;
      margin: 0;
      .list-group-item {
        width: max-content;
      }
    }
  }
}
.list-group-item {
  padding: 0;
  margin: 0.3em;
  .ref {
    padding: 0.3em;
    text-decoration: none;
    color: white;
    background: #63aabc;
  }
}
/* Toggle Effect */
input:checked ~ label {
  background-image: url("./assets/menu_close.png");
}
input:checked ~ .menu-content {
  max-height: 100%;
}

.header {
  display: flex;
  margin-top: 10em;
  justify-content: space-evenly;
  width: 100vw;

  .cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(114, 113, 113, 0.404);
    padding: 10em;
    margin: 1em;
    border-radius: 1em;
    box-shadow: -23px -27px 35px -12px rgba(0, 0, 0, 0.75);
    background: #f9f3ec;
  }

  h1 {
    font-size: 7em;
  }
  h3 {
    font-size: 3em;
  }
  .foto {
    box-shadow: 40px -27px 35px -12px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(114, 113, 113, 0.404);
    border-radius: 1em;
    padding: 2em;
    background: #f9f3ec;
  }
  .gift {
    display: none;
    box-shadow: 40px -27px 35px -12px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(114, 113, 113, 0.404);
    border-radius: 1em;
    padding: 2em;
    background: #f9f3ec;
  }
  @include media(lg) {
    padding: 2em;
    .foto {
      display: none;
    }
    .gift {
      display: inline;
    }
    h1 {
      font-size: 5em;
    }
    h3 {
      font-size: 2em;
    }
  }
  @include media(md) {
    .cabecera {
      padding: 3em;
    }
    .gift {
      display: none;
      box-shadow: -30px 27px 65px -15px rgba(0, 0, 0, 0.75);
    }
  }
  @include media(sm) {
    margin: 0;
    .cabecera {
      box-shadow: -1px 0px 22px 0px rgba(0, 0, 0, 0.75);
    }
    h1 {
      font-size: 3em;
    }
    h3 {
      font-size: 1em;
    }
  }
  @include media(xs) {
    h1 {
      font-size: 2em;
    }
  }
  @include media(xss) {
    h1 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 0.8em;
    }
  }
}

/*about-me section*/

.about-me-grupo {
  /* border: 1px solid black; */
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 1em;
  margin-top: 4em;
  margin-left: 15vw;
  box-shadow: 3px 6px 24px -5px rgba(0, 0, 0, 0.75);
  background: #f9f3ec;

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
  }
  @include media(lg) {
    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 2em;
    }
  }
  @include media(sm) {
    margin-top: 2em;
    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1em;
    }
  }
  @include media(xss) {
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 0.8em;
    }
  }
}

#refran {
  /* border: 1px solid black; */
  display: none;
  color: rgb(180, 178, 178);
  font-style: italic;
  margin: 5em 0 4em 0;
  width: 100vw;
  height: 40em;
  overflow-x: hidden;
  animation-duration: 3s;
  animation-name: slidein;

  p {
    text-align: center;
    font-size: 4.5em;
    width: 50%;
    margin-top: 2.5vw;
    margin-left: 40vw;
    color: #f9f3ec;
  }
  @include media(lg) {
    p {
      font-style: italic;
      text-align: center;
      font-size: 2em;
      width: 30%;
      margin-top: 10vw;
      margin-left: 60vw;
    }
  }
  @include media(md) {
    background: rgba(128, 128, 128, 0.486);
    width: 100vw;
    color: black;
    p {
      font-style: italic;
      font-size: 3em;
      width: 50%;
      margin: 2em 0 0 6em;
    }
  }
  @include media(sm) {
    background: rgba(128, 128, 128, 0.486);
    width: 100vw;
    p {
      font-style: italic;
      font-size: 2.5em;
      width: 50%;
      margin: 2em 0 0 5em;
    }
  }
  @include media(xs) {
    width: 100vw;
    p {
      font-style: italic;
      font-size: 2em;
      width: 50%;
      margin: 2em 0 0 2.5em;
    }
  }
  @include media(xss) {
    p {
      font-style: italic;
      font-size: 2em;
      width: 70vw;
      margin: 2em 0 0 1.75em;
    }
  }
}

.slideIn {
  display: block;
  // border: 1px solid black;
  animation-duration: 3s;
  animation-name: slidein;
  background-image: url("./assets/steve_job_2.png");
  background-size: cover;

  @keyframes slidein {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }

    100% {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
  @include media(md) {
    background: rgba(128, 128, 128, 0.486);
    width: 100vw;
    color: black;
    margin-top: 7em;
  }
}

.box2 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .Services {
    @extend %standar-box;
    padding: 3em;
    h1 {
      font-size: 5em;
    }
    h3 {
      font-size: 3em;
    }
  }

  .subclases {
    @extend %standar-box;
    width: max-content;
    height: max-content;

    .carrousels {
      width: 30vw;
      height: max-content;
      // border: 1px solid black;

      h5 {
        color: #60204b;
        font-size: 4em;
        font-family: roboto;
        margin-left: 4em;
        // border: 1px solid black;
        width: max-content;
      }
      #html {
        margin-left: 10em;
        font-size: 0.6em;
      }
      #expres {
        margin-left: 4em;
        font-size: 1em;
      }
    }
  }
  .tecnologias {
    display: none;
  }
  @include media(lg) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .Services {
      width: 40%;
      h1 {
        font-size: 4em;
      }
      h3 {
        font-size: 2em;
      }
    }
    .subclases {
      width: 50%;
      margin: 5em 0 0 2em;

      .carrousels {
        width: 60vw;
        height: max-content;
        h5 {
          font-size: 3em;
        }
      }
    }
    .tecnologias {
      display: none;
    }
  }
  @include media(md) {
    display: flex;
    flex-direction: column;
    .Services {
      width: 60%;
    }
    .subclases {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: max-content;
      .carrousels {
        // width: 100%;
        img {
          width: 220px;
          height: 220px;
        }
      }
    }
    .tecnologias {
      display: block;
      border-radius: 1em;
      box-shadow: 3px 6px 24px -5px rgba(0, 0, 0, 0.75);
      color: #60204b;
      font-size: 2em;
      background-color: #f9f3ec;
      margin-top: 2em;
      width: 50vw;
      padding: 1em;
      background: white;
    }
  }
  @include media(sm) {
    .Services {
      display: flex;
      justify-content: center;
      width: 60%;
      text-align: center;
      h1 {
        font-size: 2em;
      }
      h3 {
        font-size: 1em;
      }
    }
    .subclases {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: max-content;
      .carrousels {
        img {
          width: 150px;
          height: 150px;
        }
        h5 {
          margin-left: 3em;
          font-size: 3em;
        }
      }
    }
  }
  @include media(xs) {
    .subclases {
      display: flex;
      justify-content: center;
      width: max-content;
      .carrousels {
        img {
          width: 100px;
          height: 100px;
        }
        h5 {
          display: none;
        }
      }
    }
    .tecnologias {
      display: block;
      border-radius: 1em;
      box-shadow: 3px 6px 24px -5px rgba(0, 0, 0, 0.75);
      color: #60204b;
      font-size: 1em;
      background-color: #f9f3ec;
      margin-top: 2em;
      width: 50vw;
      padding: 1em;
      background: white;
    }
  }
  @include media(xss) {
    .Services {
      display: flex;
      justify-content: center;
      width: 90%;
      text-align: center;
      h1 {
        font-size: 2em;
      }
      h3 {
        font-size: 1em;
      }
    }
  }
}
.ultimos-trabajos {
  margin: 5em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  #cabecera-trabajos {
    @extend %standar-box;
    h1 {
      font-size: 5em;
    }
    h2 {
      font-size: 3em;
    }
  }

  .option {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 5em 0 2em 0;
    justify-content: space-evenly;
    .titulo {
      text-align: center;
      font-size: 3em;
    }
    img {
      width: 700px;
      height: 300px;
    }

    .links {
      display: flex;
      justify-content: space-evenly;

      .link {
        text-decoration: none;
        font-size: 3em;
        color: #60204b;
        background: #63aabcc4;
        border: 1px solid #63aabcc4;
        border-radius: 0.2em;
        margin-top: 1em;
        padding: 0.5em 1.5em 0.5em 1.5em;
      }
    }
  }
  @include media(lg) {
    #cabecera-trabajos {
      h1 {
        font-size: 4em;
      }
      h2 {
        font-size: 2em;
      }
    }
    .option {
      img {
        width: 500px;
        height: 300px;
        margin: 2em 2em 1em 2em;
      }
      .links {
        .link {
          padding: 0.25em 0.5em 0.25em 0.5em;
          font-size: 2em;
        }
      }
    }
  }
  @include media(sm) {
    #cabecera-trabajos {
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1em;
      }
    }
    .option {
      .titulo {
        text-align: center;
        font-size: 1.5em;
        margin: 0;
      }
      img {
        width: 300px;
        height: 150px;
        margin: 0 2em 1em 0;
      }
      .links {
        .link {
          padding: 0.25em 0.5em 0.25em 0.5em;
          font-size: 1em;
        }
      }
    }
  }
  @include media(xs){
    .option {
      .titulo {
        text-align: center;
        font-size: 1em;
        margin: 0;
      }
      img {
        width: 300px;
        height: 150px;
        margin: 1em 2em 1em 1em;
      }
      .links {
        .link {
          padding: 0.25em 0.5em 0.25em 0.5em;
          font-size: 1em;
          margin: 0 0 1em 0;
        }
      }
    }
  }
  @include media(xss) {
    .option {
      img {
        width: 250px;
        height: 150px;
        margin: 1em 1em 1em 1em;
      }
    }
  }
}
.footer {
  background: #f9f3ec7e;
  box-shadow: 3px 6px 24px -5px rgba(0, 0, 0, 0.75);
  // border: 1px solid black;
  border-radius: 0.5em;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 5em;
  }

  .copy {
    display: flex;
    align-self: center;
    font-size: 0.3em;
  }
  @include media(lg) {
    h1 {
      font-size: 3em;
    }
  }
  @include media(sm) {
    .footer {
      display: flex;
      justify-content: center;
    }
    h1 {
      font-size: 2em;
    }
  }
  @include media(xs) {
    h1 {
      font-size: 1.75em;
    }
    .redes {
      display: flex;
      justify-content: center;
    }
    img {
      margin: 1em 0 1em 0;
      height: 50px;
      width: 50px;
    }
  }
}
