/*$ sass --watch styles.scss styles.css*/
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

%standar-box {
  // border: 1px solid black;
  border-radius: 1em;
  box-shadow: 3px 6px 24px -5px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  color: black;
  background-color: #f9f3ec;
  width: 50vw;
  margin-top: 4em;
  margin-left: 25%;
  padding: 1em;
  background: white;
}

@mixin media($media) {
  @if $media==xs {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  }

  @else if $media==sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      @content;
    }
  }

  @else if $media==md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  }

  @else if $media==lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
}

* {
  font-family: roboto;
  padding: 0;
  margin: 0;
  color: #60204b;

  h1 {
    color: #ed3833;
  }
}

body {
  background-image: url("./assets/pexels-photo-1092364.jpeg");
  background-size: cover;

}

#button-return {
  border: 1px solid black;
  position: fixed;
  right: 1em;
  bottom: 1em;
  width: 5%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7em;
  background: #63aabc;
  z-index: 1;
}

.menuSuperior {
  display: flex;
  justify-content: center;

  .list-group-item {
    background: #63aabc;
    margin: 2em;
    border-radius: 0.5em;

    .ref {
      color: #60204b;
      text-decoration: none;
    }

  }
}

.header {
  display: flex;
  margin-top: 10em;
  justify-content: space-evenly;
  width: 100vw;

  .cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(114, 113, 113, 0.404);
    padding: 5em;
    margin: 1em;
    border-radius: 1em;
    box-shadow: -23px -27px 35px -12px rgba(0, 0, 0, 0.75);
    background: #f9f3ec;
  }

  header h1 {
    font-size: 4em;
  }

  .gift {
    box-shadow: 40px -27px 35px -12px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(114, 113, 113, 0.404);
    border-radius: 1em;
    padding: 2em;
    background: #f9f3ec;
  }

  @include media(lg) {
    .header {
      display: flex;
      flex-flow: column wrap;
    }

    .gift {
      display: none;
      box-shadow: -30px 27px 65px -15px rgba(0, 0, 0, 0.75);
    }
  }
}

/*about-me section*/

.about-me-grupo {
  /* border: 1px solid black; */
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 1em;
  margin-top: 4em;
  margin-left: 15vw;
  box-shadow: 3px 6px 24px -5px rgba(0, 0, 0, 0.75);
  background: #f9f3ec;

  .about-me-grupo h1 {
    font-size: 3.5em;
    margin-bottom: 0.5em;
  }

  .about-me-grupo h2 {
    font-size: 1.5em;
  }
}

#refran {
  /* border: 1px solid black; */
  display: none;
  color: rgb(180, 178, 178);
  font-style: italic;
  margin-top: 5em;
  margin-bottom: 4em;
  height: 20em;
  animation-duration: 3s;
  animation-name: slidein;

  p {
    text-align: center;
    font-size: 2em;
    width: 50%;
    margin-top: 2em;
    margin-left: 15em;
    color: #f9f3ec;
  }

  @include media(lg) {
    background: rgba(128, 128, 128, 0.486);
    width: max-content;
    color: black;
    margin-top: 7em;
  }
}

.slideIn {
  display: block;
  // border: 1px solid black;
  animation-duration: 3s;
  animation-name: slidein;
  background-image: url("./assets/steve_job_2.png");
  background-size: cover;

  @keyframes slidein {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }

    100% {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
}

.box2 {
  display: flex;

  .Services {
    @extend %standar-box;
    margin: 0;
    margin-left: 2em;

    @include media(lg) {
      margin-top: 4em;
    }
  }

  .subclases {
    @extend %standar-box;
    margin: 2em;

    .carrousels {
      width: 50vw;
      // border: 1px solid black;

      h5 {
        color: #60204b;
        font-size: 4em;
        font-family: roboto;
        margin-left: 4em;
        // border: 1px solid black;
        width: max-content;
      }
      #html{
        margin-left: 10em;
        font-size: 0.6em;
      }
      #expres {
        margin-left: 4em;
        font-size: 1em;
      }
    }

  }
}

#cabecera-trabajos {
  @extend %standar-box;

}

.option {
  display: flex;
  margin: 5em 2em 2em 2em;
  justify-content: space-around;

  .links {
    display: flex;
    justify-content: center;

    .link {
      text-decoration: none;
      color: #60204b;
      background: #63aabcc4;
      border: 1px solid #63aabcc4;
      padding: 0.25em 1em 0.25em 1em;
      border-radius: 0.2em;
      margin: 1em;
    }
  }

}

.footer {
  background: #f9f3ec7e;
  box-shadow: 3px 6px 24px -5px rgba(0, 0, 0, 0.75);
  // border: 1px solid black;
  border-radius: 0.5em;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2em;
  }

  .copy {
    font-size: 0.5em;
  }
}